@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>List of Games</p>
@foreach (var g in Model.Games)
{
    <p>@Html.DisplayFor(modelItem => g.GameId) @Html.DisplayFor(modelItem => g.Title) @Html.DisplayFor(modelItem => g.Genre) @Html.DisplayFor(modelItem => g.Platform)</p>
}
<select asp-items="Model.GamesDropDown" class="form-control">
	<option value="">-- Select Game--</option>
</select>